<html>

	<head>
		<title> Valence Control Panel</title>
		<meta charset="utf-8">
		<meta name="description" content="Control Panel for Valence by Tauba Auerbach">
		<meta name="author" content="Phillip David Stearns">
		<!-- Scripts -->
		<script src="static/jquery-3.5.1.min.js"></script>
		<script src="static/ws-client.js"></script>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="static/style.css"/>
	</head>

	<body>
		<div align="center">
			<h1>Valence Control Panel</h1>
			<hr />
			<table>
				<tr>
					<th>Current Status</th>
					<th>Change Settings</th>
				</tr>
				</tr>
				<tr>
					<td>
						<div class="columnLeft">
								<!--label>Mode: </label><span id="mode-status">updating</span><br /-->
								<label>Machine State: </label><span id="machineState-status">updating</span><br />
								<label>Sigmoid Function: </label><span id="sigmoidFunction-status">updating</span><br />
								<!--label>Last Machine State: </label><span id="lastMachineState-status">updating</span><br /-->
								<label>Target: </label><span id="target-status">updating</span><br />
								<!--label>Move Motors: </label><span id="moveMotors-status">updating</span><br /-->
								<label>Motor 1 Position: </label><span id="m1Position-status">updating</span><br />
								<label>Motor 2 Position: </label><span id="m2Position-status">updating</span><br />
								<label>Motor 1 Speed: </label><span id="m1Speed-status">updating</span><br />
								<label>Motor 2 Speed: </label><span id="m2Speed-status">updating</span><br />
								<label>Current Time: </label><span id="tCurrent-status">updating</span><br />
								<label>Initial State Time: </label><span id="tInitial-status">updating</span><br />
								<label>State Duration: </label><span id="tDuration-status">updating</span><br />
								<label>State End Time: </label><span id="tFinal-status">updating</span><br />
								<label>Open Flag: </label><span id="isOpen-status">updating</span><br />
								<label>Closed Flag: </label><span id="isClosed-status">updating</span><br />
								<label>Startup Duration: </label><span id="startupDuration-status">updating</span><br />
								<label>Open Duration: </label><span id="openDuration-status">updating</span><br />
								<label>Open Hold Duration: </label><span id="openHoldDuration-status">updating</span><br />
								<label>Close Duration: </label><span id="closeDuration-status">updating</span><br />
								<label>Close Hold Duration: </label><span id="closeHoldDuration-status">updating</span><br />
								<label>Target Open: </label><span id="targetOpen-status">updating</span><br />
								<label>Target Close: </label><span id="targetClose-status">updating</span><br />
								<label>Motor 1 Offset: </label><span id="m1PositionOffset-status">updating</span><br />
								<label>Motor 2 Offset: </label><span id="m2PositionOffset-status">updating</span><br />
						</div>
					</td>
					<td>
						<div class="columnRight">
							<!--label>Set Mode:</label>
							<select id="mode" value="1">
								<option value="0">RUN</option>
								<option value="1">CALIBRATE</option>
							</select>
							<br /-->
							<!--label>Go To State:</label>
							<select id="goto" value=3>
								<option value=1>OPEN</option>
								<option value=2>CLOSE</option>
								<option value=3>STARTUP</option>
							</select>
							<br /-->
							<label>Startup Duration: </label><input type="number" id="startupDuration" value="5000" min="5000" max="50000" /><br />
							<label>Open Duration: </label><input type="number" id="openDuration" value="15000" min="5000" max="50000" /><br />
							<label>Open Hold Duration: </label><input type="number" id="openHoldDuration" value="15000" min="5000" max="50000" /><br />
							<label>Close Duration: </label><input type="number" id="closeDuration" value="12500" min="5000" max="50000" /><br />
							<label>Close Hold Duration: </label><input type="number" id="closeHoldDuration" value="17500" min="5000" max="50000" /><br />
							<label>Target Open: </label><input type="number" id="targetOpen" value="2550" min="0" max="5000" /><br />
							<label>Target Close: </label><input type="number" id="targetClose" value="0" min="-2500" max="5000" /><br />
							<label>Motor 1 Offset: </label><input type="number" id="m1PositionOffset" value="0" min="-2500" max="2500" /><br />
							<label>Motor 2 Offset: </label><input type="number" id="m2PositionOffset" value="0" min="-2500" max="2500" /><br />
							<label>Sigmoid Function:</label>
							<select id="sigmoidFunction" value=2>
								<option value=0>Natural Log</option>
								<option value=1>Arctan</option>
								<option value=2>Sine Squared</option>
							</select><br />
							<label>Power Multiplier: </label><input id="powerScalar" type="number" value="5.0" min="1.0" max="10.0" size=8/><br />
							<label>Power Easing: </label><input id="powerEasing" type="number" value="0.5" min="0.1" max="1.0" size=8 /><br />
							<label>Target Window: </label><input id="targetWindow" type="number" value="5" min="-2500" max="2500" size=8 /><br />
							<label>Power Limit: </label><input id="powerLimit" type="number" value="480" min="0" max="500" size=8 /><br />
							<label>Power Cutoff Threshold: </label><input id="powerCutoff" type="number" value="25" min="00" max="250" size=8 /><br />
							<label>Speed Cutoff Threshold: </label><input id="speedCutoff" type="number" value="0.01" min="0.0" max=".25" size=8 />
							<p>
								<button id="apply" class="applyButton">Apply Settings</button><div id="apply-status"></div>		
							</p>
						</div>
					</td>
				</tr>

			</table>

			<hr />
			Websocket status:
			<br />
			<div id="ws-status">Waiting...</div>
		</div>
	</body>
</html>
