@font-face {
  font-family: Fira_Mono-Regular;
  src: url(Fira_Mono/FiraMono-Regular.ttf);
}

body, select, input, button {
  font-family: Fira_Mono-Regular;
}

input {
  width: 70px;
  right: 0px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  text-align : left;
  width : 50%;
  padding: 20px;
}